AUTO_TRADE_ENV=dev
AUTO_TRADE_DATABASE_URL=sqlite:///data/auto_trade.db
LONGPORT_APP_KEY=
LONGPORT_APP_SECRET=
LONGPORT_ACCESS_TOKEN=
LONGBRIDGE_APP_KEY=
LONGBRIDGE_APP_SECRET=
LONGBRIDGE_ACCESS_TOKEN=
AUTO_TRADE_SCT_KEY=
AUTO_TRADE_FRONTEND_PORT=8080
AUTO_TRADE_API_KEY=
CREDENTIAL_MASTER_KEY=
DEEPSEEK_API_KEY=
AUTO_TRADE_MIN_EXIT_PROFIT_PCT=0.2
